.grafico {
  border-radius: 100%;
  background: white;
  width: 200px;
  height: 200px;
}

.resultados {
  display: flex;
  gap: 80px;
}

.resultados table td, th {
  border: 2px solid white;
  padding: 5px;
}